<div id="results" class="container">
<h3><%= @survey.title %> Results</h3>

<% @survey.questions.each do |question| %>
	<h4><%= question.content %></h4>
	<% question.choices.each do |choice| %>
	<h5><%= choice.reply %>: <%= choice.answers.length %> votes</h5>

	<% end %>
	<% end %>


<p><img id="graph" src="<%=@chart%>"></p>

</div>
