<div class="container">
<h2><%= @survey.title %> Results</h2>

<% @survey.questions.each do |question| %>
	<p><%= question.content %></p>
	<p><% question.choices.each do |choice| %></p>
	<p><%= choice.reply %> <%= choice.answers.length %></p>

	<% end %>
	<% end %>


<p><img src="<%=@chart%>"></p>

</div>
